.contact-preview{
    background-color: rgb(223, 223, 223);
    display: flex;
    margin: 20px auto;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    width: 80vw;
    height: 120px;
    padding: 10px 30px;
}
.contact-preview:hover{
    cursor: pointer;
background-color: lightgray;
}

.contact-preview>img{
    justify-self: start;
 width: 100px;
}
.contact-preview>span{
    margin-left: 70px;
    font-weight:bold;
}